/* ■■■■■ БАЗОВЫЕ СТИЛИ ■■■■■■■■■■■■■■■ */
html, body {
    height: 100%;
}
body {
    font-family: var(--ff-body, sans-serif);
    font-size: var(--fs-400, 1rem);
    font-weight: 400;
    line-height: 1;
    background-color: var(--color-bg, #fff);

    @supports (-webkit-tap-highlight-color: transparent) {
        -webkit-tap-highlight-color: transparent;
    }
}
.page-wrapper {
    min-height: 100%;
    overflow: clip;
}